<app-loading *ngIf="loading"></app-loading>

<ng-template [ngIf]="utils.isLoaded(loading)">
  <h1 class="text-center">{{ pageTitle }}</h1>

  <!-- Business -->
  <ng-template [ngIf]="business">

    <div class="card">
      <!-- Business tab navigation -->
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="[]"
              [queryParams]="{ tab: 'details' }"
              [ngClass]="{ 'active': utils.tabIs(tab, 'details') }">Details</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="[]"
              [queryParams]="{ tab: 'venues' }"
              [ngClass]="{ 'active': utils.tabIs(tab, 'venues') }">Venues</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="[]"
              [queryParams]="{ tab: 'owners' }"
              [ngClass]="{ 'active': utils.tabIs(tab, 'owners') }">Owners</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="[]"
              [queryParams]="{ tab: 'managers' }"
              [ngClass]="{ 'active': utils.tabIs(tab, 'managers') }">Managers</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="[]"
              [queryParams]="{ tab: 'employees' }"
              [ngClass]="{ 'active': utils.tabIs(tab, 'employees') }">Employees</a>
          </li>
        </ul>
      </div>

      <!-- Business detail tab -->
      <app-business-detail
        *ngIf="utils.tabIs(tab, 'details')"
        [business]="business"></app-business-detail>

      <!-- Business Venue tab -->
      <app-business-venues
        *ngIf="utils.tabIs(tab, 'venues')"
        [businessId]="business._id"></app-business-venues>
    </div>
  </ng-template>

  <!-- Error loading events -->
  <p *ngIf="error" class="alert alert-danger">
    <strong>Oops!</strong> There was an error retrieving information for this business.
  </p>
</ng-template>