<form [formGroup]="checklistForm" (ngSubmit)="onSubmit()">
  <!-- Title -->
  <!-- <div class="form-group">
    <label for="title">Title</label>
    <input
      id="title"
      type="text"
      class="form-control"
      formControlName="title"
      [maxlength]="ef.titleMax">
    <div
      *ngIf="formErrors.title"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.title">
    </div>
  </div> -->
<ul class="list-group list-group-flush">
<li class="list-group-item">
<!-- View Question 1 -->
  <div>
  <div class="row justify-content">
      <div class="col">
        <label class="label-inline-group">Is there one crowd manager on duty for every 250 occupants as identified on the Certificate of Occupancy?</label>
      </div>
      <div class="col col-2 col-md-1 form-group">
          <label class="form-check-label">
            <input
              id="question1-yes"
              type="radio"
              class="form-check-input"
              [value]="true"
              formControlName="question1"> Yes
          </label>
        </div>
        <div class="col col-2 col-md-1 form-group">
          <label class="form-check-label">
            <input
              id="question1-no"
              type="radio"
              class="form-check-input"
              [value]="false"
              formControlName="question1"> No
          </label>
        </div>
    </div>
    <div
      *ngIf="formErrors.question1"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.question1">
    </div>
  </div>
</li>
<li class="list-group-item">
 <!-- View Question 2 -->
  <div>
  <div class="row justify-content">
      <div class="col">
        <label class="label-inline-group">Are employees trained to direct occupants to an exit in the event of an emergency and the other duties contained in the emergency plan?</label>
      </div>
      <div class="col col-2 col-md-1">
          <label class="form-check-label">
            <input
              id="question2-yes"
              type="radio"
              class="form-check-input"
              [value]="true"
              formControlName="question2"> Yes
          </label>
        </div>
        <div class="col col-2 col-md-1">
          <label class="form-check-label">
            <input
              id="question2-no"
              type="radio"
              class="form-check-input"
              [value]="false"
              formControlName="question2"> No
          </label>
        </div>
    </div>
    <div
      *ngIf="formErrors.question2"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.question2">
    </div>
  </div>
</li>
<li class="list-group-item">
  <!-- View Question 3 -->
  <div>
  <div class="row justify-content">
      <div class="col">
        <label class="label-inline-group">Are all egress paths maintained in a manner to provide a clear, unlocked, accessible path?</label>
      </div>
      <div class="col col-2 col-md-1">
          <label class="form-check-label">
            <input
              id="question3-yes"
              type="radio"
              class="form-check-input"
              [value]="true"
              formControlName="question3"> Yes
          </label>
        </div>
        <div class="col col-2 col-md-1">
          <label class="form-check-label">
            <input
              id="question3-no"
              type="radio"
              class="form-check-input"
              [value]="false"
              formControlName="question3"> No
          </label>
        </div>
    </div>
    <div
      *ngIf="formErrors.question3"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.question3">
    </div>
  </div>
</li>
<li class="list-group-item">
<!-- View Question 4 -->
  <div>
  <div class="row justify-content">
      <div class="col">
        <label class="label-inline-group">Are all exit doors operable?</label>
      </div>
      <div class="col col-2 col-md-1">
          <label class="form-check-label">
            <input
              id="question4-yes"
              type="radio"
              class="form-check-input"
              [value]="true"
              formControlName="question4"> Yes
          </label>
        </div>
        <div class="col col-2 col-md-1">
          <label class="form-check-label">
            <input
              id="question4-no"
              type="radio"
              class="form-check-input"
              [value]="false"
              formControlName="question4"> No
          </label>
        </div>
    </div>
    <div
      *ngIf="formErrors.question4"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.question4">
    </div>
  </div>
</li>
<li class="list-group-item">
<!-- View Question 5 -->
  <div>
  <div class="row justify-content">
      <div class="col">
        <label class="label-inline-group">Is all exit sign lighting operable?</label>
      </div>
      <div class="col col-2 col-md-1">
          <label class="form-check-label">
            <input
              id="question5-yes"
              type="radio"
              class="form-check-input"
              [value]="true"
              formControlName="question5"> Yes
          </label>
        </div>
        <div class="col col-2 col-md-1">
          <label class="form-check-label">
            <input
              id="question5-no"
              type="radio"
              class="form-check-input"
              [value]="false"
              formControlName="question5"> No
          </label>
        </div>
    </div>
    <div
      *ngIf="formErrors.question5"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.question5">
    </div>
  </div>
</li>
<li class="list-group-item">
<!-- View Question 6 -->
  <div>
  <div class="row justify-content">
      <div class="col">
        <label class="label-inline-group">Is all emergency lighting operable?</label>
      </div>
      <div class="col col-2 col-md-1">
          <label class="form-check-label">
            <input
              id="question6-yes"
              type="radio"
              class="form-check-input"
              [value]="true"
              formControlName="question6"> Yes
          </label>
        </div>
        <div class="col col-2 col-md-1">
          <label class="form-check-label">
            <input
              id="question6-no"
              type="radio"
              class="form-check-input"
              [value]="false"
              formControlName="question6"> No
          </label>
        </div>
    </div>
    <div
      *ngIf="formErrors.question6"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.question6">
    </div>
  </div>
</li>
<li class="list-group-item">
<!-- View Question 7 -->
  <div>
  <div class="row justify-content">
      <div class="col">
        <label class="label-inline-group">Are fire extinguishers in working order?</label>
      </div>
      <div class="col col-2 col-md-1">
          <label class="form-check-label">
            <input
              id="question7-yes"
              type="radio"
              class="form-check-input"
              [value]="true"
              formControlName="question7"> Yes
          </label>
        </div>
        <div class="col col-2 col-md-1">
          <label class="form-check-label">
            <input
              id="question7-no"
              type="radio"
              class="form-check-input"
              [value]="false"
              formControlName="question7"> No
          </label>
        </div>
    </div>
    <div
      *ngIf="formErrors.question7"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.question7">
    </div>
  </div>
  <!-- View Question 7 Date -->
  <div>
  <div class="row justify-content form-inline">
      <div class="col form-group">
        <label for="question7Date" class="label-inline-group col-form-label-sm">Last inspection date:</label>
          <input
            id="question7-date"
            type="text"
            class="form-control ml-2 form-control-sm"
            [placeholder]="cf.dateFormat"
            formControlName="question7Date">
        </div>
    </div>
    <div
      *ngIf="formErrors.question7Date"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.question7Date">
    </div>
  </div>
</li>
<li class="list-group-item">
<!-- View Question 8 -->
  <div>
  <div class="row justify-content">
      <div class="col">
        <label class="label-inline-group">Are exterior stairways and means of egress free of snow and ice?</label>
      </div>
      <div class="col col-2 col-md-1">
          <label class="form-check-label">
            <input
              id="question8-yes"
              type="radio"
              class="form-check-input"
              [value]="true"
              formControlName="question8"> Yes
          </label>
        </div>
        <div class="col col-2 col-md-1">
          <label class="form-check-label">
            <input
              id="question8-no"
              type="radio"
              class="form-check-input"
              [value]="false"
              formControlName="question8"> No
          </label>
        </div>
    </div>
    <div
      *ngIf="formErrors.question8"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.question8">
    </div>
  </div>
</li>
<li class="list-group-item">
<!-- View Question 9 -->
  <div>
  <div class="row justify-content">
      <div class="col">
        <label class="label-inline-group">The person responsible to ensure no one enters in excess of the posted occupant load limit, which includes all employees, guests and performers?</label>
      </div>
      <div class="col col-2 col-md-1">
          <label class="form-check-label">
            <input
              id="question9-yes"
              type="radio"
              class="form-check-input"
              [value]="true"
              formControlName="question9"> Yes
          </label>
        </div>
        <div class="col col-2 col-md-1">
          <label class="form-check-label">
            <input
              id="question9-no"
              type="radio"
              class="form-check-input"
              [value]="false"
              formControlName="question9"> No
          </label>
        </div>
    </div>
    <div
      *ngIf="formErrors.question9"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.question9">
    </div>
  </div>
  <!-- View Question 9 Person -->
  <div>
  <div class="row justify-content form-inline">
      <div class="col form-group">
        <label for="question9Person" class="label-inline-group col-form-label-sm">Person responsible is:</label>
          <input
            id="question9-person"
            type="text"
            class="form-control ml-2 form-control-sm"
            [placeholder]=""
            formControlName="question9Person">
        </div>
    </div>
    <div
      *ngIf="formErrors.question9Person"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.question9Person">
    </div>
  </div>
</li>
<li class="list-group-item">
<!-- View Question 10 -->
  <div>
  <div class="row justify-content">
      <div class="col">
        <label class="label-inline-group">The person responsible to ensure no one enters in excess of the posted occupant load limit, which includes all employees, guests and performers?</label>
      </div>
      <div class="col col-2 col-md-1">
          <label class="form-check-label">
            <input
              id="question10-yes"
              type="radio"
              class="form-check-input"
              [value]="true"
              formControlName="question10"> Yes
          </label>
        </div>
        <div class="col col-2 col-md-1">
          <label class="form-check-label">
            <input
              id="question10-no"
              type="radio"
              class="form-check-input"
              [value]="false"
              formControlName="question10"> No
          </label>
        </div>
    </div>
    <div
      *ngIf="formErrors.question10"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.question10">
    </div>
  </div>
  <!-- View Question 10 Person -->
  <div>
  <div class="row justify-content form-inline">
      <div class="col form-group">
        <label for="question10Person" class="label-inline-group col-form-label-sm">Person responsible is:</label>
          <input
            id="question10-person"
            type="text"
            class="form-control ml-2 form-control-sm"
            [placeholder]=""
            formControlName="question10Person">
        </div>
    </div>
    <div
      *ngIf="formErrors.question10Person"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.question10Person">
    </div>
  </div>
</li>
<li class="list-group-item">

</li>

</ul>



  <!-- Description -->
 <!--  <div class="form-group">
    <label for="description">Description:</label>
    <textarea
      id="description"
      class="form-control"
      rows="3"
      formControlName="description"
      [maxlength]="ef.descMax"></textarea>
    <div
      *ngIf="formErrors.description"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.description">
    </div>
  </div> -->

<input
      id="userId"
      type="hidden"
      class="form-control"
      formControlName="userId"
      disabled="true">
<input
      id="venueId"
      type="hidden"
      class="form-control"
      formControlName="venueId"
      disabled="true">

  <!-- Submit -->
  <div class="form-group">
    <button
      type="submit"
      class="btn btn-primary"
      [attr.disabled]="checklistForm.invalid || submitting ? true : null"
      [innerText]="submitBtnText"></button>
      <!-- https://github.com/angular/angular/issues/11271#issuecomment-289806196 -->
    <app-submitting *ngIf="submitting"></app-submitting>
    <a
      *ngIf="!submitting"
      class="btn btn-link"
      (click)="resetForm()"
      tabindex="0">Reset Form</a>

    <!-- API submission error -->
    <p *ngIf="error" class="mt-3 alert alert-danger">
      <strong>Error:</strong> There was a problem submitting the checklist. Please try again.
    </p>
  </div>
</form>