<app-loading *ngIf="loading"></app-loading>

<ng-template [ngIf]="utils.isLoaded(loading)">
  <h1 class="text-center">{{ pageTitle }}</h1>
  <div class="mb-2">
    <a [routerLink]="['/business/', venue.businessId]" class="btn btn-sm btn-outline-primary"><fa name="building"></fa> Goto Business</a>
  </div>
  <!-- Venue -->
  <ng-template [ngIf]="venue">

    <div class="card">
      <!-- Venue tab navigation -->
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="[]"
              [queryParams]="{ tab: 'details' }"
              [ngClass]="{ 'active': utils.tabIs(tab, 'details') }">Details</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="[]"
              [queryParams]="{ tab: 'checklists' }"
              [ngClass]="{ 'active': utils.tabIs(tab, 'checklists') }">Checklists</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="[]"
              [queryParams]="{ tab: 'managers' }"
              [ngClass]="{ 'active': utils.tabIs(tab, 'managers') }">Managers</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="[]"
              [queryParams]="{ tab: 'employees' }"
              [ngClass]="{ 'active': utils.tabIs(tab, 'employees') }">Employees</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="[]"
              [queryParams]="{ tab: 'inspections' }"
              [ngClass]="{ 'active': utils.tabIs(tab, 'inspections') }">Inspections</a>
          </li>
        </ul>
      </div>

      <!-- Venue detail tab -->
      <app-venue-detail
        *ngIf="utils.tabIs(tab, 'details')"
        [venue]="venue"></app-venue-detail>

      <!-- Business Venue tab -->
      <app-venue-checklists
        *ngIf="utils.tabIs(tab, 'checklists')"
        [venueId]="venue._id"></app-venue-checklists>

        <!-- Business Venue tab -->
      <app-venue-inspections
        *ngIf="utils.tabIs(tab, 'inspections')"
        [venueId]="venue._id"></app-venue-inspections>
    </div>
  </ng-template>

  <!-- Error loading venue -->
  <p *ngIf="error" class="alert alert-danger">
    <strong>Oops!</strong> There was an error retrieving information for this venue.
  </p>
</ng-template>