<div class="row">
	<div class="col-sm">
		<div *ngIf="messageService.messages.length">
		  <div class="d-flex mt-3">
			  <div class="flex-grow-1">
			  	<h2>Messages</h2>
			  </div>
			  <div class="">
			  	<button class="clear btn btn-secondary btn-sm"
		          (click)="messageService.clear()">clear <fa name="times-circle"></fa></button>
			  </div>
		  </div>	
		  
		  
		  <div *ngFor='let message of messageService.messages' class="alert {{message.style}}" role="alert"> {{message.text}} </div>

		</div>
	</div>
</div>