<div class="card-body pb-0">
  <h2 class="card-title text-center mb-0">Venues</h2>
  <app-loading *ngIf="loading"></app-loading>
</div>

<ng-template [ngIf]="utils.isLoaded(loading)">

  <section class="allVenues" *ngIf="showAllVenues" [@expandCollapse]>
    <div class="card-body">
      <p *ngIf="!venues.length" class="lead card-text">There are currently no Venues for this business.</p>
    </div>

    <ul *ngIf="venues.length" class="list-group list-group-flush">
      <li
        *ngFor="let venue of venues"
        class="list-group-item small">
        <ng-template [ngIf]="auth.isAdmin">
          <div class="float-right">
            <a [routerLink]="['/venue/', venue._id]" class="btn btn-sm btn-primary"><fa name="glass"></fa> View {{ venue.title }}</a>
            <a [routerLink]="['/venue/', venue._id]" [queryParams]="{tab: 'checklists'}" class="btn btn-sm btn-primary ml-2"><fa name="calendar-check-o"></fa> View All Checklists</a>
            <a [routerLink]="['/checklist', venue._id, 'new']" class="btn btn-success btn-sm ml-2" ><fa name="calendar-check-o"></fa> Create New Checklist</a>
          </div>
        </ng-template>
        <h4>{{ venue.title }}</h4>
        <div class="d-flex">

        <ng-template [ngIf]="venue.phoneNumber">
      		<div class="list-group-item">
      		<strong></strong><a href="tel:{{ venue.phoneNumber}}" class="btn btn-sm btn-outline-primary"><fa name="phone"></fa> {{ venue.phoneNumber | phone }}</a>
      		</div>
    		</ng-template>
    		<ng-template [ngIf]="venue.faxNumber">
    		  <div class="list-group-item">
    		    <strong></strong><a href="tel:{{ venue.faxNumber }}" class="btn btn-sm btn-outline-primary"><fa name="fax"></fa> {{ venue.faxNumber | phone }}</a>
    		  </div>
    		</ng-template>
        <ng-template [ngIf]="venue.location">
          <div class="list-group-item">
            <strong></strong><a href="https://www.google.com/maps/dir//{{ venue.location }}" class="btn btn-sm btn-outline-primary"><fa name="globe"></fa> {{ venue.location }}</a>
          </div>
        </ng-template>
      </div>
      <ng-template [ngIf]="auth.isAdmin && venue.comments">
          <div class="list-group-item">
            <em [innerHTML]="venue.comments"></em>
          </div>
        </ng-template>
      </li>
    </ul>
  </section>

  <!-- Error loading RSVPs -->
  <div *ngIf="error" class="card-body">
    <p class="alert alert-danger">
      <strong>Oops!</strong> There was an error retrieving RSVPs for this event.
    </p>
  </div>
</ng-template>