  <div class="row">
    <div class="col-sm">
      <h1>{{title}}</h1>
    </div>
  </div><!-- end row -->
  <div class="row">
    <div class="col-sm">
      <h2>Newest Employees</h2>
    </div>
  </div><!-- end row -->
  <div class="row">
  <div *ngFor="let user of users" class="col-sm">
    <div>
          <a routerLink="/user/{{user.id}}">
        <div class="module user">
          <img src="https://randomuser.me/api/portraits/{{user.gender}}/{{user.id}}.jpg" class="avatar" />
          <h4>{{user.firstName}} {{user.lastName}}</h4>      
        </div>    
      </a>
    </div>
    <div class="mt-1">
      <div class="btn-group  d-flex" role="group" aria-label="quick links">
        <a href="tel:{{user.phoneNumber}}" class="btn btn-secondary w-100"><fa name="mobile"></fa> </a>
        <a href="tel:{{user.emailAddress}}" class="btn btn-secondary w-100"><fa name="envelope-o"></fa> </a>
        <a href="#" class="btn btn-secondary w-100"><fa name="pencil"></fa> </a>
        <a href="#" class="btn btn-secondary w-100"><fa name="trash"></fa></a>
      </div>
    </div>
  </div>
  </div><!-- end row -->
  <div class="row">
    <div class="col-sm">
      <h2>Newest Venues</h2>
    </div>
  </div><!-- end row -->
  <div class="row">
  <div *ngFor="let venue of venues" class="col-sm">
    <div class="">
      <a routerLink="/venue/{{venue.id}}">
        <div class="module venue">
          <h4>{{venue.businessName}}</h4>
          <p>{{addresses[venue.addressID].streetAddress}}<br/>{{addresses[venue.addressID].city}}, {{addresses[venue.addressID].state}}</p>
        </div>    
      </a>
    </div>
    <div class="mt-1">
      <div class="btn-group d-flex" role="group" aria-label="quick links">
        <a href="tel:{{venue.phoneNumber}}" class="btn btn-secondary w-100"><fa name="phone"></fa></a>
        <a href="tel:{{venue.faxNumber}}" class="btn btn-secondary w-100"><fa name="fax"></fa></a>
        <a href="https://www.google.com/maps/search/?api=1&query=essex%20ma" class="btn btn-secondary w-100"><fa name="map-o"></fa></a>
        <a href="#" class="btn btn-secondary w-100"><fa name="pencil"></fa> </a>
        <a href="#" class="btn btn-secondary w-100"><fa name="trash"></fa></a>
      </div>
    </div>
  </div>
</div>