  <div class="row">
    <div class="col-sm">
      <h1>{{title}}</h1>
    </div>
  </div><!-- end row -->
  <div class="row">
    <div class="col-sm">
      <h2>Newest Employees</h2>
    </div>
  </div><!-- end row -->
  <div class="row">
  <div *ngFor="let user of users" class="col-sm">
      <a routerLink="/user/{{user.id}}">
    <div class="module user">
      <h4>{{user.firstName}} {{user.lastName}}</h4>      
    </div>    
  </a>
  <p><a href="mailto:{{user.emailAddress}}"><fa name="envelope-o"></fa> {{user.emailAddress}}</a></p>
    <p><a href="tel:{{user.phoneNumber}}"><fa name="mobile"></fa> {{user.phoneNumber | phone}}</a></p>
  </div>
  </div><!-- end row -->
  <div class="row">
    <div class="col-sm">
      <h2>Newest Venues</h2>
    </div>
  </div><!-- end row -->
  <div class="row">
  <div *ngFor="let venue of venues" class="col-sm">
      <a routerLink="/venue/{{venue.id}}">
    <div class="module venue">
      <h4>{{venue.businessName}}</h4>
    </div>    
  </a>
  <p><a href="tel:{{venue.phoneNumber}}"><fa name="mobile"></fa> {{venue.phoneNumber | phone}}</a></p>
    <p><a href="https://www.google.com/maps/search/?api=1&query=essex%20ma"><fa name="map-o"></fa> Map</a></p>
  </div>
</div>