<h3>{{title}}</h3>

<h2>Newest Users List</h2>
<div class="grid grid-pad">
  <a *ngFor="let user of users" class="col-1-4"
      routerLink="/user/{{user.id}}">
    <div class="module user">
      <h4>{{user.firstName}} {{user.lastName}}</h4>
      <p>{{user.emailAddress}}</p>
    </div>
  </a>
</div>

<h2>Newest Venues List</h2>
<div class="grid grid-pad">
  <a *ngFor="let venue of venues" class="col-1-4"
      routerLink="/venue/{{venue.id}}">
    <div class="module venue">
      <h4>{{venue.businessName}}</h4>
      <p>{{venue.phoneNumber}}</p>
    </div>
  </a>
</div>
